In [79]:
import pandas as pd
import numpy as np

# 1. Datensatz laden

In [80]:
df_slurm = pd.read_csv('task_and_data/slurmaccountdata_2020-01-01T00_00_00-2022-03-31T23_59_59_processed.csv', delimiter='|', index_col=0)

/tmp/ipykernel_15312/2448395521.py:1: DtypeWarning: Columns (18,30,70,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df_slurm = pd.read_csv('task_and_data/slurmaccountdata_2020-01-01T00_00_00-2022-03-31T23_59_59_processed.csv', delimiter='|', index_col=0)

In [81]:
shape_start = df_slurm.shape
print('shape: ', df_slurm.shape)
df_slurm.head()

shape:  (505261, 103)

,Account,AdminComment,AllocCPUS,AllocGRES,AllocNodes,AllocTRES,AssocID,AveCPU,AveCPUFreq,AveDiskRead,...,TRESUsageOutMaxNode,TRESUsageOutMaxTask,TRESUsageOutMin,TRESUsageOutMinNode,TRESUsageOutMinTask,TRESUsageOutTot,User,UserCPU,WCKey,WCKeyID
0,94f78603-6e51-40ca-99c6-b494ac1ee324,NaN,768,NaN,32,"billing=768,cpu=768,mem=5925G,node=32",0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1f847aac-d8bf-40ea-b747-405efe2ce745,00:00:00,NaN,0
1,94f78603-6e51-40ca-99c6-b494ac1ee324,NaN,384,NaN,16,"billing=384,cpu=384,mem=2962.50G,node=16",0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1f847aac-d8bf-40ea-b747-405efe2ce745,00:00:00,NaN,0
2,94f78603-6e51-40ca-99c6-b494ac1ee324,NaN,384,NaN,16,"billing=384,cpu=384,mem=2962.50G,node=16",0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1f847aac-d8bf-40ea-b747-405efe2ce745,00:00:00,NaN,0
3,94f78603-6e51-40ca-99c6-b494ac1ee324,NaN,192,NaN,8,"billing=192,cpu=192,mem=1516800M,node=8",0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1f847aac-d8bf-40ea-b747-405efe2ce745,00:00:00,NaN,0
4,ee18ced8-5c8f-4b12-a606-6b282105d967,NaN,24,NaN,1,"billing=24,cpu=24,mem=189600M,node=1",4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,eed47b6a-a483-4194-85a6-8ae0f6ca5adb,00:00:00,NaN,0

In [82]:
df_slurm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505261 entries, 0 to 505260
Columns: 103 entries, Account to WCKeyID
dtypes: float64(54), int64(14), object(35)
memory usage: 400.9+ MB

# 2. Datensatz bereinigen

In [83]:
df_slurm.describe()

,AdminComment,AllocCPUS,AllocGRES,AllocNodes,AssocID,AveCPU,AveCPUFreq,AveDiskRead,AveDiskWrite,AvePages,...,TRESUsageOutAve,TRESUsageOutMax,TRESUsageOutMaxNode,TRESUsageOutMaxTask,TRESUsageOutMin,TRESUsageOutMinNode,TRESUsageOutMinTask,TRESUsageOutTot,WCKey,WCKeyID
count,0.0,505261.000000,0.0,505261.000000,505261.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,505261.0
mean,NaN,18.761432,NaN,1.266688,87.951740,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
std,NaN,58.873879,NaN,2.241952,56.135689,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
min,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25%,NaN,1.000000,NaN,1.000000,59.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
50%,NaN,3.000000,NaN,1.000000,59.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
75%,NaN,24.000000,NaN,1.000000,132.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
max,NaN,3072.000000,NaN,128.000000,244.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

### 2.1 grobe Bereinigung

Im Folgenden werden:
* 54 Spalten entfernt, die mehr als 95% fehlende Daten enthalten,
* 3 Spalten enfernt, die ausschließlich 0-Werte enthalten,
* 9 Spalten entfernt, die nur einen "unique-value" enthalten,
* 3 Spalten entfernt, die nur identifier enthalten, da diese für das Clustering nicht notwendig sind,
* und weitere Spalten entfernt, die mehrfach vorkommen oder die gleiche Informationen in lediglich anderen Formaten enthalten.

In [84]:
cols_missing = [col for col in df_slurm.columns if df_slurm[col].isna().sum() / len(df_slurm.index) >= 0.95] 
cols_zero = ['ConsumedEnergy', 'ConsumedEnergyRaw', 'WCKeyID']
cols_unique_values_only = [col for col in df_slurm.columns if len(df_slurm[col].unique()) == 1 and col not in cols_zero and col not in cols_missing]
identifier_cols = ['AssocID', 'JobID', 'JobIDRaw']

In [85]:
df_slurm.drop(labels=cols_missing, axis=1, inplace=True)
df_slurm.drop(labels=cols_zero, axis=1, inplace=True)
df_slurm.drop(labels=cols_unique_values_only, axis=1, inplace=True)
df_slurm.drop(labels=identifier_cols, axis=1, inplace=True)

In [86]:
df_slurm.columns

Index(['Account', 'AllocCPUS', 'AllocNodes', 'AllocTRES', 'CPUTime',
       'CPUTimeRAW', 'DerivedExitCode', 'Elapsed', 'ElapsedRaw', 'Eligible',
       'End', 'ExitCode', 'Flags', 'NCPUS', 'NNodes', 'NodeList', 'Priority',
       'Partition', 'QOS', 'QOSRAW', 'Reason', 'ReqCPUS', 'ReqMem', 'ReqNodes',
       'ReqTRES', 'Reserved', 'ResvCPU', 'ResvCPURAW', 'Start', 'State',
       'Submit', 'Timelimit', 'TimelimitRaw', 'User'],
      dtype='object')

### 2.2 Feinere Betrachtung

Nun werden die verbleibenden Spalten betrachtet, da diese teilweise redundante oder linear abhängige Informationen oder zu viele kleine Kategorien enthalten.

Zum um einen kann die Spalte 'End' aus der Startzeit und Dauer berechnet werden.

In [87]:
df_slurm.drop(labels=['End'], axis=1, inplace=True)

Die Spalte 'CPUTimeRaw' entspricht der Anzahl der CPUs multipliziert mit der Dauer. Sie stellt also eine Lineare Kombination dar und kann entfernt werden. 'CPUTime' entspricht 'CPUTimeRaw' als timedelta und kann ebenfalls entfernt werden.

In [88]:
df_slurm.drop(labels=['CPUTime', 'CPUTimeRAW'], axis=1, inplace=True)

Zeitdaten werden allgemein einmal als Integerwert und als timedelta angegeben. Die Integerwerte sind hier ausreichend.

In [89]:
df_slurm.drop(labels=['Elapsed', 'Timelimit', 'ResvCPU'], axis=1, inplace=True)

Die 'QoS'-Informationen werden ebenfalls doppelt gespeichert. Aus Dimensionsgründen wird die Spalte 'QOS' entfernt und 'QOSRAW' behalten.

In [90]:
df_slurm.drop(labels=['QOS'], axis=1, inplace=True)

Die Spalten 'Submit' und 'Eligible' enthalten zu 98% gleiche Informationen.
Sowohl 'AllocNodes' und 'NNodes', als auch 'NCPUS' und 'AllocCPUS' sind exakt gleich. 'Eligible', 'NCPUS' und 'NNodes' werden deshalb entfernt.

In [91]:
print(sum(df_slurm.dropna(axis=0).Submit == df_slurm.dropna(axis=0).Eligible) / len(df_slurm.dropna(axis=0).index))
print(sum(df_slurm.dropna(axis=0).AllocNodes == df_slurm.dropna(axis=0).NNodes) / len(df_slurm.dropna(axis=0).index))
print(sum(df_slurm.AllocCPUS == df_slurm.NCPUS) / len(df_slurm.index))

df_slurm.drop(labels=['Eligible', 'NNodes', 'NCPUS'], axis=1, inplace=True)

0.9783631752296226
1.0
1.0

In der Spalte 'ReqTRES' sind mehrere Informationen enthalten. Davon ist lediglich 'Billing' nicht in anderen Spalten vorhanden, also werden die anderen Informationen verworfen.

In [92]:
df_slurm['ReqBilling'] = df_slurm['ReqTRES'].str.split(',').str[0].str.split('=').str[1].astype(float)
df_slurm.drop(columns=['ReqTRES'], inplace=True)

Das gleiche gilt für 'AllocTRES', aber in diesem Fall sind billing und memory relevant.

In [93]:
df_slurm['AllocBilling'] = df_slurm['AllocTRES'].str.split(',').str[3].str.split('=').str[1].astype(float)
df_slurm['AllocMem'] = df_slurm['AllocTRES'].str.split(',').str[2].str.split('=').str[1]
df_slurm.drop(columns=['AllocTRES'], inplace=True)

In der Spalte 'NodeList' werden die verwendeten Knoten gespeichert. Hier gibt es sehr viele Möglichkeiten, was die Komplexität des Modells stark erhöhen würde. Zusätzlich kann mit diesen Werten kein Rückschluss auf die Benutzer hergestellt werden. Deshalb wird auch diese entfernt.

In [94]:
df_slurm.drop(labels=['NodeList'], axis=1, inplace=True)

In den Spalten 'ExitCode', 'DerivedExitCode', 'Reason' und 'State' wird der Grund der Terminierung des Jobs festgehalten. 'ExitCode' und 'DerivedExitCode' überschneiden sich zu einem großen Teil. Da 'ExitCode' nur 32 einzigartige Werte hat im Gegensatz zu 53, wird 'DerivedExitCode' entfernt. 'State' und 'Reason' enthalten nominale Werte mit sehr vielen Möglichkeiten, was die Komplexität unnötig erhöhen würde.

In [95]:
df_slurm.State.value_counts()

COMPLETED            446442
CANCELLED by 1111     13583
TIMEOUT               11225
FAILED                 5914
CANCELLED by 1175      5540
                      ...
CANCELLED by 1144         1
CANCELLED by 1213         1
CANCELLED by 1215         1
NODE_FAIL                 1
CANCELLED by 1155         1
Name: State, Length: 85, dtype: int64

In [96]:
df_slurm.drop(columns=['State', 'DerivedExitCode', 'Reason'], inplace=True)

Jetzt da alle Spalten, die ausschließlich 'NA's enthalten, entfernt sind, können die Zeilen, die 'NA's enthalten noch entfernt werden.

In [97]:
df_slurm.dropna(axis=0, inplace=True)
print('Shape vorher: ',df_slurm.shape)
print('Shape nachher: ',df_slurm.shape )

Shape vorher:  (488519, 21)
Shape nachher:  (488519, 21)

Vergleich Shape des unbereinigten und bereinigten Datensatzes:

In [98]:
print(f'Shape vorher: {shape_start} - shape nachher: {df_slurm.shape}')
print(f'Es wurden {shape_start[0] - df_slurm.shape[0]} Zeilen und {shape_start[1] - df_slurm.shape[1]} Spalten entfernt.')
print(f'Es gibt noch {df_slurm.isna().sum().sum()} "NA"s im Datensatz.')

Shape vorher: (505261, 103) - shape nachher: (488519, 21)
Es wurden 16742 Zeilen und 82 Spalten entfernt.
Es gibt noch 0 "NA"s im Datensatz.

# 3. Datenformate korrigieren

In [99]:
df_slurm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488519 entries, 0 to 505260
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Account       488519 non-null  object
 1   AllocCPUS     488519 non-null  int64
 2   AllocNodes    488519 non-null  int64
 3   ElapsedRaw    488519 non-null  int64
 4   ExitCode      488519 non-null  object
 5   Flags         488519 non-null  object
 6   Priority      488519 non-null  int64
 7   Partition     488519 non-null  object
 8   QOSRAW        488519 non-null  int64
 9   ReqCPUS       488519 non-null  int64
 10  ReqMem        488519 non-null  object
 11  ReqNodes      488519 non-null  int64
 12  Reserved      488519 non-null  object
 13  ResvCPURAW    488519 non-null  int64
 14  Start         488519 non-null  object
 15  Submit        488519 non-null  object
 16  TimelimitRaw  488519 non-null  object
 17  User          488519 non-null  object
 18  ReqBilling    488519 non-null  float64
 19  AllocBilling  488519 non-null  float64
 20  AllocMem      488519 non-null  object
dtypes: float64(2), int64(8), object(11)
memory usage: 82.0+ MB

Im nächsten Schritt werden die Datenformate betrachtet und selten auftretende Werte als 'other' zusammengefasst. Das gilt allerdings nur für kategorische Variablen.

### 3.1 Account

In [100]:
df_slurm.Account.value_counts()

da444cc4-1f27-488a-a217-39369ef6d985    233528
ee18ced8-5c8f-4b12-a606-6b282105d967    112681
5da85e7b-a3c6-4950-9a0b-9201a66f0fa8     54503
55834e52-7e74-4ef2-a69a-52999d4d4489     21672
ec66f3fb-e5a8-4d92-9f4e-71b5c8438716     21093
94f78603-6e51-40ca-99c6-b494ac1ee324     11082
e5d422dc-ae36-43eb-a137-32e9aee9db76     10682
13b1754f-6801-4291-a9f3-af236bac8808      5731
0bf7cfe6-6a03-41e5-a78d-49912967f03e      3992
c7bdc3dc-8ba6-42d7-9088-82192a0b7295      3976
c593c653-aa6f-4504-a97c-21624fc6fc32      3837
865c206e-f4a7-43ec-850a-6b9aa7605188      1706
48fb10dc-8bee-4cd2-84ab-82a9f148ce51      1642
db00c3ac-ad93-433c-a6f0-2191d7d13834       556
0a8d45d6-65d0-42b2-af45-6dcfa6386ca3       350
37e4ceb9-2778-4460-a361-46dd59d40832       298
a482ea3b-6cda-4bff-97e9-22ff3e27eef8       226
d528b01e-4de2-4bf0-8ad3-825bd5597843       156
57d16732-fdf5-4749-972f-5ed7d6855856       149
988d2312-36c5-4ef1-b35f-997ae67831f7       137
7acfcf2f-132a-4196-8e98-2660dcf1cd28       118
b653089b-d43f-4f8b-9533-e7ed9b094161        91
4320ef68-212f-43af-9c0f-449cc57efcc6        72
17113157-ffa1-4bfc-8355-11a3b7247fdf        72
dad267da-dd7d-49b4-ab56-a1a2506a4b1b        68
c314b415-48fb-43b8-965c-205ae24baef4        56
c38a9ce5-7bb3-4e2f-8ee5-aa2415424a16        39
884d09dc-8095-4e71-b235-9d075c66afe2         6
Name: Account, dtype: int64

### 3.2 Exit Code

In [101]:
df_slurm.ExitCode.value_counts(), df_slurm.ExitCode.isna().sum()

(0:0      482960
 1:0        4064
 127:0       631
 2:0         267
 9:0         131
 11:0         74
 41:0         63
 124:0        63
 6:0          53
 126:0        39
 122:0        33
 112:0        25
 46:0         24
 0:9          19
 13:0         16
 24:0         11
 105:0         8
 115:0         7
 0:15          5
 5:0           5
 3:0           4
 10:0          3
 45:0          2
 96:0          2
 59:0          2
 4:0           2
 101:0         1
 32:0          1
 70:0          1
 87:0          1
 29:0          1
 7:0           1
 Name: ExitCode, dtype: int64,
 0)

Es werden alle Exit Codes zusammengefasst, die weniger als 100 mal auftreten, also weniger als 0,02% des Datensatzes ausmachen.

In [102]:
exit_other = df_slurm['ExitCode'].value_counts()[df_slurm['ExitCode'].value_counts() < 100].index.to_list()
df_slurm['ExitCode'] = df_slurm.ExitCode.apply(lambda x: 'other' if x in exit_other else x)

In [103]:
df_slurm.ExitCode.value_counts()

0:0      482960
1:0        4064
127:0       631
other       466
2:0         267
9:0         131
Name: ExitCode, dtype: int64

### 3.3 Flags

In [104]:
df_slurm.Flags.value_counts(), df_slurm.Flags.isna().sum()

(SchedMain        438426
 SchedBackfill     49860
 SchedSubmit         233
 Name: Flags, dtype: int64,
 0)

In [105]:
df_slurm.Flags.replace(np.nan, 'NoFlag', inplace=True)

In [106]:
df_slurm.Flags.value_counts()

SchedMain        438426
SchedBackfill     49860
SchedSubmit         233
Name: Flags, dtype: int64

### 3.4 Partition

In [107]:
df_slurm.Partition.value_counts(), df_slurm.Partition.isna().sum()

(serial     296563
 short       91367
 regular     77001
 debug       12500
 single       6178
 bigmem       3758
 long         1152
 Name: Partition, dtype: int64,
 0)

### 3.5 ReqMem

In [108]:
def convert_to_mb(x):
    if x != 'nan':
        x = x.replace('c', '')
        x = x.replace('n', '')
    if 'M' in x:
        x = x.replace('M', '')
        return pd.to_numeric(x)
    elif 'G' in x:
        x = x.replace('G', '')
        return pd.to_numeric(x) * 1024
    else:
        return x

In [109]:
df_slurm.ReqMem.value_counts(), df_slurm.ReqMem.isna().sum()

(6000Mc    207355
 7900Mc    185434
 7000Mc     19641
 2500Mc     18618
 500Mc      13594
            ...
 600Gn          1
 5333Mc         1
 7810Mc         1
 600Mc          1
 1950Mc         1
 Name: ReqMem, Length: 128, dtype: int64,
 0)

In [110]:
df_slurm['ReqMem_in_MB'] = df_slurm.ReqMem.apply(convert_to_mb).astype(float)
df_slurm.drop(labels=['ReqMem'], axis=1, inplace=True)

### 3.6 Reserved

In [111]:
df_slurm['Reserved_in_s'] = pd.to_timedelta(df_slurm.Reserved).dt.total_seconds().astype(int)
df_slurm.drop(labels=['Reserved'], axis=1, inplace=True)

### 3.7 Start

Konvertierung zu Datetime Objekt

In [112]:
df_slurm.Start = pd.to_datetime(df_slurm.Start, yearfirst=True)

In [113]:
df_slurm.Start

0        2020-01-31 16:01:26
1        2020-01-31 16:02:42
2        2020-01-31 16:05:04
3        2020-01-31 16:05:50
4        2020-01-31 16:28:49
                 ...
505256   2022-03-31 19:50:07
505257   2022-03-31 19:51:08
505258   2022-03-31 20:08:45
505259   2022-03-31 19:50:21
505260   2022-03-31 19:51:31
Name: Start, Length: 488519, dtype: datetime64[ns]

Start wird vorerst als Datetime Objekt behalten, da dies eventuell für die data exploration interesant werden könnte.

### 3.8 Submit

Vielleicht eine Art 'Timed' Spalte oder direkt ausgeführt? Werden Submit und Start benötigt oder kann eine Weg?

In [114]:
df_slurm.Submit = pd.to_datetime(df_slurm.Submit)

In [115]:
(abs((df_slurm.Submit - df_slurm.Start).dt.total_seconds()) < 60).sum() / len(df_slurm.index)

0.7009635244483838

68 % der Jobs werden innerhalb von einer Minute nach dem Submit gestartet. Also 32 % für die Zukunft geplante?? Muss näher betrachtet werden.

In [116]:
df_slurm.drop(labels=['Submit'], axis=1, inplace=True)

### 3.9 TimeLimitRaw

In [117]:
df_slurm.TimelimitRaw.unique()

array([7200, 1440, 10, 1, 60, 1200, 1260, 960, 2880, 1500, 600, 1080,
       3600, 4020, 25920, 480, 4320, 660, 59, 5760, 2940, 7140, 720, 120,
       1380, 180, 1140, 21600, '1440', '60', '1380', '7200', '5760',
       '360', '120', '2880', '7140', '4320', '25920', '10', '600', '1500',
       '240', 240, 7260, 14400, 300, 5, '1', '21600', '30', '180', '1680',
       '480', '43200', '720', '5940', '300', '10080', '1200', '330',
       '510', '960', '840', '1320', '40', '11520', '540', 30, 540, 11520,
       1470, 360, 11521, 2910, 1740, 5770, 2160, 20160, 270, 43200, 2,
       28800, 86400, 14401, 1320, 86401, 20, 8641, 8640, 5880, 5400, 1805,
       1800, 29, 6000, 12, 630, 1680, 3000, 370, 1220, 2420, 610, 730,
       689, 1920, 1980, 4, 10080, 4800, 1230, 57600, 15, 1450, 420, 150,
       40, 144000, 390, 450, 3060, 2400, 840, 4200, 690, 25, 210, 5700,
       17280, 45, 36000, 719, 900, 35, 1442, 722, 70, 72000, 710, 90,
       5040, 3, 75, 1050, 9, 6720, 7080, 50, 7199, 715, 60000, 129600,
       170, 470, 4500, 140, 200, 260, 320, 560, 22800, 3780, 620, 680, 80,
       1259, 2875, 1435, 10140, 1440000], dtype=object)

Wie wird am besten mit dem Wert 'PartitionLimit' umgegangen? Erstmal zu nan umwandeln und die Spalte 'TimeLimitRaw' zu Float umwandeln.

In [118]:
df_slurm.TimelimitRaw = df_slurm.TimelimitRaw.replace('Partition_Limit', 'nan')
df_slurm.TimelimitRaw = df_slurm.TimelimitRaw.astype(float)
print(df_slurm.TimelimitRaw.isna().sum())

0

Eventuell Zeilen mit Partition Limit herausnehmen oder Füllwert einsetzen, damit die Spalte als Int gespeichert werden kann.

### 3.10 User

Spalte User eventuell rausnehmen?

In [119]:
df_slurm.User.value_counts()

e463390c-2235-4967-8102-d0e3b725cf0f    210905
c4932d86-e047-4b70-879b-72915e1947de     75398
1f847aac-d8bf-40ea-b747-405efe2ce745     57303
690ca9d3-5cfa-442d-805b-e34d24a672ee     17398
07af8a30-1ac9-47e0-98f1-410eb187e9d3     16688
                                         ...
2825c515-cac6-46b7-95f3-5a961af8afde         6
f5f17b99-6c98-4a8a-9ce9-08f89da5ad5c         6
84a9c8e5-bcfd-4f21-bfde-a3beeec0ccb4         3
8ee03789-64ed-4a98-ac1b-73913a34e50b         1
bb4a4ce1-eb7b-4738-ba4b-15cdb50cdfc8         1
Name: User, Length: 88, dtype: int64

### 3.11 AllocMem

Die Werte sind als String teilweise in Mb und teilweise in Gb angegeben. Diese werden nun alle zu einem Int Wert in Mb umgewandelt. Da die Bedeutung der Buchstaben 'c' und 'n' in diesem Fall nicht ganz klar ist, werden diese herausgefiltert.

In [120]:
df_slurm.AllocMem.fillna('nan', inplace=True)
df_slurm.AllocMem.unique()

array(['5925G', '2962.50G', '1516800M', '189600M', '758400M', '379200M',
       '7900M', '11850G', '1896000M', '568800M', '5498400M', '5308800M',
       '5119200M', '2844000M', '23700G', '1520000M', '760000M',
       '1137600M', '15926400M', '6825600M', '18960000M', '20737.50G',
       '21804000M', '190000M', '3040000M', '17443200M', '380000M',
       '5937.50G', '11976M', '44880M', '26400M', '11875G', '47976M',
       '6120000M', '4550400M', '7G', '1706400M', '2275200M', '1530000M',
       '10238400M', '13651200M', '3412800M', '1526400M', '1327200M',
       '3981600M', '240M', '3052800M', '90G', '500G', '180G', '600G',
       '3060000M', '2654400M', '6840000M', '12000M', '32000M', '50000M',
       '3792000M', '1000M', '3602400M', '500M', '7015200M', '24G',
       '4929600M', '31680M', '6256800M', '624M', '52800M', '6G', '15800M',
       '96G', '79000M', '5688000M', '144G', '17064000M', '100000M',
       '7600M', '47400M', '63200M', '23700M', '2640M', '5280M', '4776M',
       '158000M', '948000M', '1176M', '55200M', '31600M', '105600M',
       '66000M', '158400M', '184800M', '132000M', '2085600M', '187200M',
       '5976M', '21600M', '131952M', '2500M', '148.50G', '39500M',
       '23976M', '57600M', '47520M', '94800M', '119976M', '108120M',
       '9576M', '168000M', '79200M', '71100M', '54000M', '95976M',
       '144000M', '59976M', '72000M', '18000M', '100800M', '67176M',
       '108000M', '90000M', '96000M', '600M', '127992M', '150000M',
       '120000M', '331200M', '26376M', '36000M', '13200M', '38376M',
       '43200M', '28800M', '93600M', '31176M', '50400M', '336000M',
       '87120M', '86400M', '175968M', '91176M', '126000M', '4000M',
       '112.50G', '105576M', '180000M', '9984M', '153840M', '55300M',
       '42000M', '4800M', '126400M', '94G', '179G', '177G', '6000M',
       '16000M', '2000M', '15G', '72G', '14400M', '62376M', '4740000M',
       '6636000M', '8532000M', '21000M', '187440M', '188760M', '46800M',
       '5962.50G', '120576M', '48G', '125000M', '142200M', '150480M',
       '172800M', '156000M', '60000M', '480M', '72M', '3600M', '4579200M',
       '188088M', '123600M', '937.50G', '12264M', '145200M'], dtype=object)

In [121]:
df_slurm['AllocMem_in_MB'] = df_slurm.AllocMem.apply(convert_to_mb).astype(float)
df_slurm.drop(labels=['AllocMem'], axis=1, inplace=True)
df_slurm.AllocMem_in_MB.isna().sum()

0

# 4. Betrachtung

In [122]:
df_slurm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488519 entries, 0 to 505260
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Account         488519 non-null  object
 1   AllocCPUS       488519 non-null  int64
 2   AllocNodes      488519 non-null  int64
 3   ElapsedRaw      488519 non-null  int64
 4   ExitCode        488519 non-null  object
 5   Flags           488519 non-null  object
 6   Priority        488519 non-null  int64
 7   Partition       488519 non-null  object
 8   QOSRAW          488519 non-null  int64
 9   ReqCPUS         488519 non-null  int64
 10  ReqNodes        488519 non-null  int64
 11  ResvCPURAW      488519 non-null  int64
 12  Start           488519 non-null  datetime64[ns]
 13  TimelimitRaw    488519 non-null  float64
 14  User            488519 non-null  object
 15  ReqBilling      488519 non-null  float64
 16  AllocBilling    488519 non-null  float64
 17  ReqMem_in_MB    488519 non-null  float64
 18  Reserved_in_s   488519 non-null  int64
 19  AllocMem_in_MB  488519 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(9), object(5)
memory usage: 78.3+ MB

In [123]:
df_categorical_features = df_slurm.select_dtypes(include='object')
df_numerical_features = df_slurm.select_dtypes(exclude='object')

In [124]:
df_numerical_features

,AllocCPUS,AllocNodes,ElapsedRaw,Priority,QOSRAW,ReqCPUS,ReqNodes,ResvCPURAW,Start,TimelimitRaw,ReqBilling,AllocBilling,ReqMem_in_MB,Reserved_in_s,AllocMem_in_MB
0,768,32,35,4294901759,1,384,32,0,2020-01-31 16:01:26,7200.0,384.0,32.0,7900.0,0,6067200.0
1,384,16,167,4294901758,1,192,16,192,2020-01-31 16:02:42,7200.0,192.0,16.0,7900.0,1,3033600.0
2,384,16,25,4294901757,1,192,16,192,2020-01-31 16:05:04,7200.0,192.0,16.0,7900.0,1,3033600.0
3,192,8,19,4294901756,1,96,8,96,2020-01-31 16:05:50,7200.0,96.0,8.0,7900.0,1,1516800.0
4,24,1,236,4294901755,1,1,1,0,2020-01-31 16:28:49,1440.0,1.0,1.0,7900.0,0,189600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505256,24,1,61,381,1,24,1,0,2022-03-31 19:50:07,120.0,24.0,1.0,7900.0,0,189600.0
505257,24,1,1057,381,1,12,1,0,2022-03-31 19:51:08,120.0,12.0,1.0,7900.0,0,189600.0
505258,48,1,681,281,14,48,1,0,2022-03-31 20:08:45,480.0,48.0,1.0,31800.0,0,1526400.0
505259,24,1,70,381,1,24,1,24,2022-03-31 19:50:21,120.0,24.0,1.0,7900.0,1,189600.0
505260,24,1,7207,381,1,12,1,0,2022-03-31 19:51:31,120.0,12.0,1.0,7900.0,0,189600.0

In [125]:
df_categorical_features

,Account,ExitCode,Flags,Partition,User
0,94f78603-6e51-40ca-99c6-b494ac1ee324,0:0,SchedBackfill,regular,1f847aac-d8bf-40ea-b747-405efe2ce745
1,94f78603-6e51-40ca-99c6-b494ac1ee324,other,SchedMain,regular,1f847aac-d8bf-40ea-b747-405efe2ce745
2,94f78603-6e51-40ca-99c6-b494ac1ee324,0:0,SchedMain,regular,1f847aac-d8bf-40ea-b747-405efe2ce745
3,94f78603-6e51-40ca-99c6-b494ac1ee324,0:0,SchedMain,regular,1f847aac-d8bf-40ea-b747-405efe2ce745
4,ee18ced8-5c8f-4b12-a606-6b282105d967,0:0,SchedSubmit,regular,eed47b6a-a483-4194-85a6-8ae0f6ca5adb
...,...,...,...,...,...
505256,55834e52-7e74-4ef2-a69a-52999d4d4489,0:0,SchedMain,short,2f05aba9-8619-46a0-8471-d41ead3352d0
505257,55834e52-7e74-4ef2-a69a-52999d4d4489,0:0,SchedMain,short,2f05aba9-8619-46a0-8471-d41ead3352d0
505258,55834e52-7e74-4ef2-a69a-52999d4d4489,0:0,SchedMain,bigmem,2f05aba9-8619-46a0-8471-d41ead3352d0
505259,55834e52-7e74-4ef2-a69a-52999d4d4489,0:0,SchedMain,short,2f05aba9-8619-46a0-8471-d41ead3352d0
505260,55834e52-7e74-4ef2-a69a-52999d4d4489,0:0,SchedMain,short,2f05aba9-8619-46a0-8471-d41ead3352d0

In [127]:
df_slurm.shape

(488519, 20)

In [128]:
df_slurm.corr()[df_slurm.corr()==1]

,AllocCPUS,AllocNodes,ElapsedRaw,Priority,QOSRAW,ReqCPUS,ReqNodes,ResvCPURAW,TimelimitRaw,ReqBilling,AllocBilling,ReqMem_in_MB,Reserved_in_s,AllocMem_in_MB
AllocCPUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AllocNodes,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
ElapsedRaw,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Priority,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QOSRAW,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ReqCPUS,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ReqNodes,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ResvCPURAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
TimelimitRaw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
ReqBilling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
AllocBilling,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
ReqMem_in_MB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Reserved_in_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
AllocMem_in_MB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

Hier fällt auf, dass AllocNode und AllocBilling noch eine Korrelation von 1 haben. AllocBilling wird hier also entfernt, womit die Datensatzbereinigung abgeschlossen ist.

In [129]:
df_slurm.drop('AllocBilling', axis=1, inplace=True)

Exportieren in eine csv, die dann eingelesen werden kann.

In [130]:
df_slurm.to_csv("tweaked_datasets/slurm_dataset_tweaked.csv")